#set ( $formClassCompName = $entity.name + "EMRCService" )
#set ( $formControllerName = $entity.name + "EMRCController")
#set ( $formProviderName = $entity.name + "EMRCProvider")
#set ( $formRestServiceName = $entity.name + "EMRCRestService")