#parse("include/entitiesNamesRef.vm")
import 'package:flutter/material.dart';
import 'package:file_picker/file_picker.dart';
import 'package:flutter_form_builder/flutter_form_builder.dart';
import 'package:form_builder_validators/form_builder_validators.dart';
import 'package:modee_emrc_app/shared/text_input_component/emrc_text_input_component.dart';
import 'package:modee_emrc_app/shared/upload_component/emrc_upload_component.dart';
import 'package:modee_emrc_app/shared/dropdown/dropdown_input_component.dart';
import './$fn.uncapitalize($entity.name)-controller.dart';
import 'package:modee_emrc_app/services/$fn.uncapitalize($entity.name)-service/$fn.uncapitalize($entity.name)-provider.dart';
import '../../shared/mixins/document-accessor.dart';
import 'package:modee_emrc_app/shared/check-box/check-box.dart';
import '../models/lookup.dart';
import 'package:modee_emrc_app/shared/date-picker/date-picker.dart';
import 'package:provider/provider.dart';
class $formClassCompName extends StatefulWidget {
  const $formClassCompName({super.key});

  @override
  State<$formClassCompName> createState() => _${formClassCompName}State();
}

class _${formClassCompName}State extends State<$formClassCompName> {
  final formKey = GlobalKey<FormBuilderState>();
  void Function(PlatformFile? file,String key,DocumentAccessor docAccessor) onChanged = (PlatformFile? file,String key,DocumentAccessor docAccessor){
    if(file!=null){
      docAccessor.setDocument(key,file);
    }
  };
  @override
  Widget build(BuildContext context) {
  
    return FutureBuilder(
      future: $formControllerName(context: context,formKey:formKey).initModule(),
      builder: (BuildContext context,AsyncSnapshot<String> snapshot){
        return Consumer<$formProviderName>(
          builder: (context,emrcProvider,child){
            return ListView(
        children: [
        FormBuilder(
              key: formKey,
              onChanged: (){
          
              },
              autovalidateMode: AutovalidateMode.disabled,
              initialValue: const {

              },
              skipDisabled: true,
              child: LayoutBuilder(
                builder: (BuildContext context,BoxConstraints constraints){
                  final availableWidth = constraints.maxWidth;
                  final maxChildWidth = availableWidth <400 ?availableWidth : availableWidth / 2;
                  return Wrap(
                      children: <Widget>[
                        #foreach( $attribute in $entity.attributes) 
                           #if($attribute.hasTag('TextInput'))
                        ConstrainedBox(
                          constraints: BoxConstraints(maxWidth: maxChildWidth),
                          child: Padding(
                            padding: const EdgeInsets.all(8.0),
                            child: TextInputComponent(fieldName: '$fn.uncapitalize($attribute.name)', label: '$fn.uncapitalize($attribute.name)',validators: [  FormBuilderValidators.required(),
                             ]),
                          ),
                        ),
                        #end
                        #if($attribute.hasTag('UploadInput'))
                         ConstrainedBox(constraints: BoxConstraints(maxWidth: maxChildWidth),child: Padding(
                          padding: const EdgeInsets.all(8.0),
                          child: UploadComponent (onChanged: (PlatformFile? file){
                            onChanged(file,file.hashCode.toString(),emrcProvider);
                          },fieldName:'$fn.uncapitalize($attribute.name)',label:'$fn.uncapitalize($attribute.name)',validators:[FormBuilderValidators.required()]),
                        )),
                        #end
                       #if($attribute.hasTag('DateInput'))
                      ConstrainedBox(constraints: BoxConstraints(maxWidth: maxChildWidth),child: const Padding(
                      padding: EdgeInsets.all(8.0),
                     child: DatePickerComponent(fieldName: '$fn.uncapitalize($attribute.name)', label: '$fn.uncapitalize($attribute.name)'),
                      )),
                      #end
                     #if($attribute.hasTag('CheckBoxInput'))
                      ConstrainedBox(constraints: BoxConstraints(maxWidth: maxChildWidth),child: const Padding(
                      padding: EdgeInsets.all(8.0),
                     child: CheckBoxComponent(label: '$fn.uncapitalize($attribute.name)', fieldName: '$fn.uncapitalize($attribute.name)'),
                      )),
                      #end
                        #if($attribute.hasTag('DropdownInput'))
                          ConstrainedBox(
                               constraints: BoxConstraints(maxWidth: maxChildWidth),
                               child: const Padding(
                               padding: EdgeInsets.all(8.0),
                               child: DropdownInputComponent<Lookup>(labelText:'$fn.uncapitalize($attribute.name)',items: [],name: '$fn.uncapitalize($attribute.name)',),
                            ),
                         ),
                        #end
                        #end
                      ]
                  );
                }
              )
            ),
        ElevatedButton(
            onPressed: () {
             $formControllerName(context: context,formKey:formKey).onSubmit();
            },
            child: const Text("Submit")
        )
      ],
    );
          }
        );
      }
    );

  }
}