#parse("include/entitiesNamesRef.vm")
import 'package:flutter_form_builder/flutter_form_builder.dart';
import 'package:flutter/material.dart';
import 'package:provider/provider.dart';
import './$fn.uncapitalize($entity.name)-provider.dart';
import '../../shared/controllers/app-controller.dart';
import '$fn.uncapitalize($entity.name)-rest-service.dart';
class $formControllerName extends AppController {
  BuildContext context;
  late $formProviderName serviceProvider;
  late GlobalKey<FormBuilderState> formKey;
  late $formRestServiceName emrcRestService;
  $formControllerName({required this.context,required this.formKey}){
     // Initialize you providers .....
    serviceProvider = Provider.of<$formProviderName>(context,listen:false);
    emrcRestService = $formRestServiceName();
  }
  @override
  Future<String> initModule() async {
         return "";
  }
  @override
  Future<void> onSubmit() async {
      if(formKey.currentState!=null){
         formKey.currentState?.save();
         formKey.currentState?.validate();
         if((formKey.currentState as FormBuilderState).isValid){
          
         }
      }
  }
}